<div class="container">
    <h2>До закінчення локдауну залишилось:</h2>
    <div class="timer" id="timer-1">
        <div class="field">
            <span class="value" data-value="days"></span>
            <span class="label">дн.</span>
        </div>

        <div class="field">
            <span class="value" data-value="hours"></span>
            <span class="label">год.</span>
        </div>

        <div class="field">
            <span class="value" data-value="mins"></span>
            <span class="label">хв.</span>
        </div>

        <div class="field">
            <span class="value" data-value="secs"></span>
            <span class="label">сек.</span>
        </div>
    </div>
</div>