html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  display: flex;
  justify-content: center;
}
.container {
  text-align: center;
  margin-top: 20px;
  /* justify-content: center; */
  width: 600px;
  height: 250px;
  border: black 1px solid;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.42);
  border-radius: 5px;
}
.value {
  justify-content: space-between;
  padding: 20px;
  margin: 15px;
  font-size: 36px;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #585858;
  color: #fff;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.42);

  border-radius: 4px;
}
.field {
  /* margin-top: 20px; */
  display: inline-block;
  display: inline-grid;
}
.label {
  font-size: 26px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
